{% extends "PACoreBundle:Home:home.html.twig" %}

{# {% block title %}PACoreBundle:Home:home{% endblock %}#}
 {% block central_content %}
 	
{% block article %}

<div> 
	<h1> Encyclopédie </h1>
	
	<div>
		<ul> 
			<li> Regles du jeu </li>
			<li> Histoire </li>
			<li> Bâtiments </li>
			<li> Technologies </li>
			<li> Carte </li>
		</ul> 
	</div>
	
	<div>
		<h2> A quoi ça sert ?</h2> 
		L'encyclopédie permet de récupérer des informations générales sur le jeu. 
		Vous y trouverez tous les éléments du jeu détaillés selon leur catégorie (règles du jeu, bâtiments,
		quêtes etc...).
	</div>
	
	<div> 
		<h2> Je n'aurai pas vu ça comme ça !</h2>
		Si cette partie vous semble incomplète, si vous souhaiteriez voir 
		de nouveaux éléments ou même une organisation plus facile d'utilisation n'hésitez pas à nous contacter pour nous 
		en faire part ! (onglet "contact" de la barre de navigation).
	</div>
	
	<div>
		<h2> Comment s'en servir ?</h2> 
			Sélectionnez votre catégorie depuis le menu à gauche puis spécifiez
			votre recherche à l'aire des boutons spécifiques. Vous pouvez aussi rechercher directement un élément
			à partir de la barre de recherche affichée une fois la catégorie choisie.
	</div>
	
	<div> 
		<h2> Je trouverai bien un titre pour le 4e !</h2>
		<div> Je trouverai bien un truc à dire pour que ça fasse 4 et que mon putain de bootstrap fonctionne
		, après tout il ne s'agit là que de dire du blabla et de remplir une div pour pouvoir a voir une page
		qui ressemble VRAIMENT à quelque chose...
		</div>
	</div>
	
</div>
{% endblock %}
{% endblock %}
